/* src/App.css */
#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#messages {
  border: 1px solid black;
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

#input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
}

#message {
  flex: 1;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#username-display {
  padding: 10px;
  font-weight: bold;
}

.message {
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 30%;
  position: relative;
  line-height: 2.0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 14px;
}

.message.sent {
  background-color: #367FEE2A;
  color: #000000;
  align-self: flex-end;
  border-bottom-right-radius: 0;
  margin-left: auto;
}

.message.received {
  background-color: #ffffff;
  color: #000000;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 2px; /* Sender와 메시지 사이의 간격 조정 */
}

.message-body {
  margin-top: 2px; /* 메시지와 타임스탬프 사이의 간격 조정 */
}

.timestamp {
  font-size: 10px;
  color: #888;
  display: block;
  text-align: right;
  margin-top: 5px;
}